.Users .user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Users .user-list .user-list-item {
  border: 1px solid #3c8c33d9;
  margin-bottom: 10px;
  padding: 5px;
}

@media only screen and (min-width: 769px) {
  .Users .user-list .user-list-item {
    max-width: 700px;
  }
}
