.Header {
  background: #ffffff;
  padding: 25px 16px;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 10%);
}

.Header a.nav {
  color: #cecece;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 10px;
  letter-spacing: 2px;
}

.Header a.nav.active {
  color: #3c8c33d9;
  border-bottom: 2px solid #3c8c33d9;
}

@media only screen and (max-width: 768px) {
  .Header {
    text-align: center;
  }
}
